p{
    color: red;
    text-align: center;
    font-family: tahoma;
    font-size: 25px;
}

h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
}